extends layout

block content
  div(class='row mt-4')
    div(class='col-sm-8')
      h4 #{title}
    div(class='col-sm-4 text-center')
      a(href='/catalog/category/create') 
        button(class='btn btn-outline-primary') Create category

  ul
  div(class='row')
    each category in category_list
      div(class='col-lg-4 col-md-6 col-xs-6 d-flex justify-content-center')
        div(class='card mb-5' style='width: 18rem;')
          if userLoggedIn && userLoggedIn == category.user
            ul.list-inline.text-right.mb-0
              
              li.list-inline-item
                a(href='#' data-toggle='modal' data-target='#'+category.id+'DeleteModal')
                  i(class='far fa-trash-alt mr-3' style='color:red;' )
                div.modal.fade(id=category.id+'DeleteModal' tabindex='-1' role='dialog' aria-labelledby=category.id+'Label' aria-hidden='true')
                  div.modal-dialog(role='document')
                    div.modal-content
                      div.modal-header
                        h5.modal-title(id=category.id+'Label') Another category about to go!
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      div.modal-body.text-left Are you sure you want to delete #{category.title}
                      div.modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') No
                        form(method='POST' action='/catalog/category/' + category.id + '/delete')
                          //- a(href=)
                          button.btn.btn-danger(type='submit') Yes
              li.list-inline-item
                a(href='#' data-toggle='modal' data-target='#'+category.id+'EditModal')
                  i(class='far fa-edit mr-3')
                div.modal.fade(id=category.id+'EditModal' tabindex='-1' role='dialog' aria-labelledby=category.id+'Label' aria-hidden='true')
                  div.modal-dialog(role='document')
                    div.modal-content
                      div.modal-header
                        h5.modal-title(id=category.id+'Label') Begin edit!
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      div.modal-body.text-left
                        form(method='POST', action='/catalog/category/' + category.id + '/update')
                          div.form-group
                            label(for='title') Title:
                            input#title.form-control(type='text' placeholder=category.title name='title' required='true' value=(undefined===category ? '' : category.title))
                          div.modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') No
                            button.btn.btn-danger(type='submit') Update

          a(href=category.url)
            img(class='card-img-top' src='../images/infiniteloop.jpg' alt='image')
            //- img(class='card-img-top' src='https://loremflickr.com/320/240/' + category.title alt='image')              
            hr(class='m-0')
            div(class='card-body')
              h5(class='card-title') #{category.title}
