extends layout

block content

  h4(class='mt-3') #{title}
  
  div(class='row mt-2')
    div(class='col-sm-8')
      h5(class='mt-3 mb-4') Title: #{category.title}
    div(class='col-sm-4 text-center')
      a(href='/catalog/item/create') 
        button(class='btn btn-outline-primary') Create item
  
  each item in items
    div(class='accordion mb-1' id='itemAccordion')
      div(class='card')
        div(class='card-header' id=item.id+'heading')
          h5(class='mb-0')
            button(class='btn btn-link' type='button' data-toggle='collapse' data-target='#'+item.id aria-expanded='true' aria-controls=item.id) #{item.title}
          if item.user
            p(class='ml-3' style='font-size: 12px;') posted by: #[strong #{item.user.username}]
          else
            p(class='ml-3' style='font-size: 12px;') posted by: #[strong admin]
        
        div(id=item.id class='collapse' aria-labelledby=item.id+'heading' data-parent='#itemAccordion')
          div(class='card-body') #{item.description}
          
          if item.user
            if userLoggedIn && userLoggedIn === item.user.id
              //- p(class='d-flex just ml-3')
              ul.list-inline
                //- a(href=item.url+'/delete')
                li.list-inline-item.ml-3
                  button.btn.btn-outline-danger(type='button' class='mr-2' data-toggle='modal' data-target='#'+item.id+'DeleteModal') Delete
                  div.modal.fade(id=item.id+'DeleteModal' tabindex='-1' role='dialog' aria-labelledby=item.id+'Label' aria-hidden='true')
                    div.modal-dialog(role='document')
                      div.modal-content
                        div.modal-header
                          h5.modal-title(id=item.id+'Label') Another item about to go!
                          button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        div.modal-body Are you sure you want to delete #{item.title}
                        div.modal-footer
                          button.btn.btn-secondary(type='button' data-dismiss='modal') No
                          form(method='POST' action='/catalog/item/' + item.id + '/delete')
                            //- a(href=)
                            button.btn.btn-danger(type='submit') Yes
                li.list-inline-item    
                  button.btn.btn-outline-danger(type='button' data-toggle='modal' data-target='#'+item.id+'EditModal') Edit
                  div.modal.fade(id=item.id+'EditModal' tabindex='-1' role='dialog' aria-labelledby=item.id+'EditLabel' aria-hidden='true')
                    div.modal-dialog(role='document')
                      div.modal-content
                        div.modal-header
                          h5.modal-title(id=item.id+'EditLabel') Edit away!
                          button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        div.modal-body You are editing #{item.title}
                          form(method='POST', action='/catalog/item/' + item.id + '/update')
                            div.form-group
                              label(for='title') Title:
                              input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(undefined===item ? '' : item.title))
                              label(for='title') Description:
                              input#description.form-control(type='text' placeholder='Description' name='description' required='true' value=(undefined===item ? '' : item.description))
                              label.mt(for='category') Category:
                              input#category.form-control(type='text' placeholder='' name='category' required='true' value=category.title disabled)
                            div.modal-footer
                              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                              button.btn.btn-danger(type='submit') Yes

                //- a(href=item.url+'/update')
                  button.btn.btn-success(type='submit') Edit

  else
    p There are no items.

  //- if items
  

  if error
    p= error